AutojustApp.Server/obj

.vs
AutojustApp.Server/bin
autojustapp.client/obj
AutojustApp.Server/bin
CommandService/obj
ProfessionelService/obj
ProfessionalServiceTest/obj
ProfessionalServiceTest/bin
SharedLibrary/obj
LoggingService/obj
